numpy==1.24.3
pandas==1.5.3
scikit-learn==1.2.2
torch
matplotlib==3.7.1
seaborn==0.12.2
tensorflow==2.13.0rc0
keras==2.13.1
tensorflow_hub==0.14.0
tensorflow_text==2.13.0rc0
openai==0.27.10
langchain==0.0.277
nltk==3.8.1
tiktoken==0.4.0
ipywidgets==8.1.0
spacy==3.6.1
text-hammer==0.1.5
textblob==0.15.3